<ion-header>
  <ion-toolbar>
    <ion-title>
      Aplicacion Ionic Todos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item lines="inset" [routerLink]="[ '/details', todo.id]">
        <ion-label>
          {{todo.task}}
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirecttion="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
